@media screen and (min-device-width:750px){

    *{
        margin:0%;
        padding:0%;
        
    }
    /*Mobile NavBar*/
    .topnav{
    display: none;
    }
    /**********************************HEADER CSS****************************************/
    header{
        display: flex;
        width: 70%;
        justify-content: flex-end;
        margin:auto;
        padding-top: 2%;
        font-family: 'Playfair Display', serif;
    

    }
    header a{
        color: #1a1819;
        padding: 0.4%;
 
    }
    a:hover{
        text-decoration: line-through;
        color: #1a1819;
    }
    header h2{
        font-size: x-large;
        font-family: 'Playfair Display', serif;
    }
    /*******************************************BODY CSS***********************************************/
    body{
        background-color: #ece7e1;
    }
    #education{
        display: flex;
        flex-direction: column;
        width:50%;
        margin:auto;
    }
    #experience{
        
            display: flex;
            flex-direction: column;
            width:50%;
            margin:auto;
      
    }
    .intro{
        width: 10%;
        margin:auto;
    }
    h2, h5, p{
        font-family: 'Playfair Display', serif;
    }
    /*footer*********************************************************************************/
  footer{
    margin-top: 4.7%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: rgb(50, 48, 48);
    display: flex;
    justify-content: space-between;
  }

  a{
    color: white;
    padding-left: 4%;
    padding-right: 4%;
  }
  a:hover {
    color: #1a1819;
  }
}
@media screen and (max-device-width:480px){
    *{
        margin:0%;
        padding:0%;
    }

    header{
        display: none;
    }

    /*Mobile NavBar ***************************************************************************************/
    .topnav {
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
        margin-bottom: 10%;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
        ;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color: #1a1819;;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background:white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    
      }
      .image-home{
        width: 25px;
        height: auto;
        margin: 0 auto;
        
      }
      /*BODY csss*/
      body{
        background-color: #ece7e1;
      }
      h2, h5, p{
        font-family: 'Playfair Display', serif;
    }
    .intro{
        width: 35%;
        margin:auto;
    }
    #education, #experience{
        width: 70%;
        margin: auto;
    }
    /*footer*********************************************************************************/
  footer{
    margin-top: 4.7%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: rgb(50, 48, 48);
    display: flex;
    justify-content: space-between;
  }

  a{
    color: white;
    padding-left: 4%;
    padding-right: 4%;
  }
  a:hover {
    color: #1a1819;
  }
    
}