/*For desktop*/
@media screen and (min-device-width: 750px) {
  * {
    margin: 0%;
    padding: 0%;
  }
  /*Mobile NavBar*/
  .topnav {
    display: none;
  }
  /**********************************HEADER CSS****************************************/
  header {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin: auto;
    padding-top: 2%;
    font-family: "Playfair Display", serif;
  }
  header a {
    color: #1a1819;
    padding: 0.4%;
  }
  a:hover {
    text-decoration: line-through;
    color: #1a1819;
  }
  header h2 {
    font-size: x-large;
    font-family: "Playfair Display", serif;
  }

  /*******************************BODY CSS***************************************/
  body {
    display: flex;
    flex-direction: column;
    background-color: #ece7e1;
    background-attachment: fixed;
  }

  #container {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    margin: auto;
    margin-top: 7%;
    color: #1a1819;
  }

  #container h1 {
    font-size: 57px;
    font-family: "Playfair Display", serif;
  }
  #intro {
    width: 70%;
    margin-top: 5%;
  }
  p {
    margin-top: 3%;
    color: rgb(24, 24, 24);
    font-size: 17px;
  }
  #hr {
    padding-top: 20%;
    width: 100%;
  }
  #hand {
    width: 67px;
  }
}

/*For mobile*/
@media screen and (max-device-width: 480px) {
  * {
    margin: 0%;
    padding: 0%;
  }
  #hr {
    display: none;
  }
  header {
    display: none;
  }
  #hand {
    display: none;
  }

  /*Mobile NavBar ***************************************************************************************/
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 100%;
    margin-bottom: 10%;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: #1a1819;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .image-home {
    width: 25px;
    height: auto;
    margin: 0 auto;
  }
  /**********************************BODY CSS MOBILE******************************************************/
  body {
    display: flex;
    background-color: #ece7e1;
    flex-direction: column;
    height: 100%;
    color: #1a1819;
  }

  #container {
    display: flex;
    flex-direction: column;
  }
  #mobile-hr {
    display: block;
  }
  h1 {
    width: 80%;
    margin: auto;
    color: #1a1819;
    font-family: "Playfair Display", serif;
  }
  #mobile-h1 {
    margin-bottom: 10%;
  }
  p {
    width: 80%;
    margin: auto;
    padding-top: 5%;
  }
}
