/*For desktop*/
@media screen and (min-device-width:750px){

    *{
        margin:0%;
        padding:0%;
        
    }
    /*Mobile NavBar*/
    .topnav{
    display: none;
    }
    /*HEADER CSS*/
    header{
        display: flex;
        width: 70%;
        justify-content: flex-end;
        margin:auto;
        padding-top: 2%;
    

    }
    header h2{
        color: #1a1819;;
        padding: 2%;
 
    }
    #push{
        padding-left: 65%;
    }

    body{
        display: flex;
        flex-direction: column;
        /*background-image: linear-gradient(90deg,rgb(190, 88, 88) 0%, rgb(152, 149, 207) 100%);*/
        background-color: #ece7e1;

    }

    footer{
        margin-top: 4.1%;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
        background-color: rgb(50, 48, 48);
        display: flex;
        justify-content: space-between;
      }
    
      a{
        color: white;
        padding-left: 4%;
        padding-right: 4%;
      }
      a:hover {
        color: #1a1819;
      }
    
   
}

/*For mobile*/
@media screen and (max-device-width:480px){
    *{
        margin:0%;
        padding:0%;
    }
  
    header{
        display: none;
    }

    /*Mobile NavBar ***************************************************************************************/
    .topnav {
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color: #1a1819;;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background:white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    
      }
      .image-home{
        width: 25px;
        height: auto;
        margin: 0 auto;
        
      }
      /*Mobile NavBar****************************************************************************************************/
    body{
        display: flex;
        /*background-image: linear-gradient(90deg,rgb(235, 51, 51) 0%, rgb(152, 149, 207) 100%);*/
        background-color: #ece7e1;
        flex-direction: column;
        height: 100%;
        color: #1a1819;
       
    }

    /*footer*/
    footer{
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: rgb(50, 48, 48);
        margin-top: 44%;
      }
      #footer{
        width: 25%;
        display: flex;
        justify-content: space-between;
      }
      a{
        color: white;
      }
      a:hover {
        color: #1a1819;
      }

}